<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
</head>

<body>
    <h1>Add a New Game</h1>

    <form action="/games" method="post">
        <label for="name">Game Name</label>
        <input type="text" placeholder="Game Name" name="name" id="name">
        <br>
        <label for="price">Set Price</label>
        <input type="number" name="price" id="price">
        <br>
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <option value="gaming">gaming</option>
            <option value="indoors">indoors</option>
            <option value="electronics">electronics</option>
        </select>
        <button type="submit">Submit</button>

    </form>
    <a href="/games">Back Home</a>

</body>

</html>